.timeline {
  border-top: 1px solid var(--line)
}

.timeline article {
  display: grid;
  grid-template-columns: 55px 1fr auto;
  gap: 20px;
  padding: 30px 0;
  border-bottom: 1px solid var(--line)
}

.timeline h3 {
  font-size: 25px;
  margin: 0 0 6px
}

.timeline b {
  color: var(--highlight);
  font-weight: 500
}

.timeline p {
  color: var(--body-text);
  font-size: 15px;
  line-height: 1.5;
  margin: 12px 0 0
}
