@media(max-width:1050px) {
  .shell {
    grid-template-columns: 220px minmax(0, 1fr)
  }

  .sidebar {
    padding: 30px 16px
  }

  .hero {
    grid-template-columns: 1fr
  }

  .visual {
    grid-row: 1;
    height: 310px;
    min-height: 310px
  }

  .cube {
    transform: scale(.7) rotateY(-28deg);
    animation: none
  }

  .herofoot {
    position: static;
    grid-column: 1
  }

  .intro {
    padding-bottom: 40px
  }
}

@media(max-width:700px) {
  .shell {
    display: block
  }

  .sidebar {
    position: sticky;
    height: auto;
    padding: 12px 18px 0;
    border-right: 0;
    border-bottom: 1px solid var(--line)
  }

  .brand {
    font-size: 25px
  }

  .brand small {
    font-size: 8px
  }

  .sidefoot {
    display: none
  }

  .sidebar nav {
    flex-direction: row;
    overflow: auto;
    margin: 12px -18px 0;
    padding: 0 18px;
    gap: 0;
    scrollbar-width: none
  }

  .sidebar nav button {
    display: block;
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 13px
  }

  .sidebar nav small,
  .sidebar nav span {
    display: none
  }

  .content {
    padding: 0 22px
  }

  .content header {
    padding: 18px 0
  }

  .content header span,
  .content footer span {
    display: none
  }

  .hero {
    padding: 15px 0 35px;
    min-height: auto
  }

  .visual {
    height: 260px;
    min-height: 260px
  }

  .ring {
    width: 250px;
    height: 250px
  }

  .ring.inner {
    width: 190px;
    height: 190px
  }

  .cube {
    scale: .65
  }

  .label {
    font-size: 8px
  }

  .intro {
    padding-bottom: 35px
  }

  h1 {
    font-size: clamp(46px, 12vw, 72px);
    margin: 18px 0
  }

  .intro>p {
    font-size: 16px
  }

  .herofoot {
    display: none
  }

  .section {
    padding: 55px 0 85px;
    min-height: calc(100vh - 180px)
  }

  h2 {
    font-size: clamp(52px, 12vw, 76px);
    margin: 20px 0 40px !important
  }

  .about,
  .projects {
    grid-template-columns: 1fr;
    gap: 25px
  }

  .timeline article {
    grid-template-columns: 30px 1fr
  }

  .timeline article>small:last-child {
    grid-column: 2
  }

  .content footer {
    font-size: 9px
  }
}

@media(prefers-reduced-motion:reduce) {

  *,
  *:before,
  *:after {
    animation: none !important;
    transition: none !important
  }
}
